@model Awful.Web.Templates.ThreadTemplateModel

<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>@Model.Thread.Name</title>
        <style>
            @{
                WriteLiteral(Model.Css);
            }
        </style>
    </head>
    <body>
        @foreach (var post in Model.Thread.Posts) {
        <post id="@post.PostId">
            <header id="userid-@post.User.Id">
                @if(post.User.AvatarLink != "") {
                    <img class="avatar" src="@post.User.AvatarLink" alt="">
                }
                <section>
                    <section class="nameanddate">
                        <h1 class="username">
                            @post.User.Username
                        </h1>

                        <date class="regdate">
                            Joined @post.User.DateJoined.ToString("d")
                        <date/>
                    </section>
                </section>
            </header>
            <div class="postbody">
                @{
                WriteLiteral(post.PostHtml);
                }
            </div>
            <footer>
                <span class="postdate">
                    @post.PostDate
                </span>
            </footer>
        </post>
        }
    </body>
</html>
